body {
  margin: 2rem auto;
  max-width: 48rem;
  padding-inline: 1rem;
}

table {
  border-collapse: collapse;
}

td,
th {
  border-block-end: 1px solid #eee;
  padding: 0.25rem 0.5rem;
  text-align: start;
}
